# Introduction 
Demonstrating widget two-way communication.

In [1]:
import ipywidgets as widgets
from clustergrammer2 import net
import json
import pandas as pd
df = {}

>> clustergrammer2 backend version 0.13.1
initialize meta_cet False

### Make DataFrame

In [2]:
df['clean'] = pd.read_csv('rc_two_cat_clean.csv', index_col=0)
df['meta_col'] = pd.read_csv('meta_col.csv', index_col=0)
df['clean'].shape

(38, 29)

In [3]:
df['meta_cat_col'] = pd.DataFrame()
df['meta_cat_col'].loc['Cat', 'color'] = 'red'
df['meta_cat_col'].loc['Dog', 'color'] = 'yellow'
df['meta_cat_col'].loc['Shark', 'color'] = 'black'
df['meta_cat_col'].loc['Snake', 'color'] = 'blue'
df['meta_cat_col'].loc['Lizard', 'color'] = 'green'
df['meta_cat_col']

         color
Cat        red
Dog     yellow
Shark    black
Snake     blue
Lizard   green

In [4]:
net.load_df(df['clean'], meta_col=df['meta_col'], col_cats=['Category', 'Gender'])
net.set_manual_category(col='Category', preferred_cats=df['meta_cat_col'])
net.widget()

ExampleWidget(network='{"row_nodes": [{"name": "CDK4", "ini": 38, "clust": 14, "rank": 30, "rankvar": 20}, {"n…

In [5]:
net.get_manual_category()

In [8]:
df['meta_col']['Category'].value_counts()

Snake    7
four     6
five     6
Shark    4
two      4
three    2
Name: Category, dtype: int64

# Downsample Example

In [12]:
net.load_df(df['clean'], meta_col=df['meta_col'], col_cats=['Gender', 'Category'])
net.downsample(axis='col', num_samples=5, random_state=99, ds_name='DS-Clusters', ds_cluster_name='default')
net.set_manual_category(col='Gender')
net.widget()

ExampleWidget(network='{"row_nodes": [{"name": "CDK4", "ini": 38, "clust": 24, "rank": 31, "rankvar": 33}, {"n…

In [13]:
net.get_manual_category()

In [15]:
df['meta_ds_col'] = net.meta_ds_col
df['meta_ds_col']

               Gender Category number in clust
default-1  New Gender    Shark              15
default-2        Male    Snake              11
default-3      Female    Snake               1
default-4        Male     five               1
default-5      Female    Snake               1

In [18]:
df['meta_col']

         Category      Gender DS-Clusters
H1650         two        Male   default-2
H23           two  New Gender   default-1
CAL-12T       two        Male   default-2
H358        Snake        Male   default-2
H1975       Snake      Female   default-5
HCC15         two  New Gender   default-1
H1355       three  New Gender   default-1
HCC827      Snake      Female   default-3
H2405        five        Male   default-2
HCC78        five        Male   default-4
H1666        four  New Gender   default-1
H661         five        Male   default-2
H838         five  New Gender   default-1
H1703        five  New Gender   default-1
CALU-3       four        Male   default-2
H2342        four  New Gender   default-1
H2228       Snake        Male   default-2
H1299       three  New Gender   default-1
H1792       Shark  New Gender   default-1
H460        Shark  New Gender   default-1
H2106        four        Male   default-2
H441        Snake        Male   default-2
H1944       Shark  New Gender   default-1
H1437        four  New Gender   default-1
H1734       Snake        Male   default-2
LOU-NH91     five  New Gender   default-1
HCC44        four  New Gender   default-1
A549        Shark  New Gender   default-1
H1781       Snake        Male   default-2

In [17]:
df['ds'] = net.export_df()
df['ds'].head()

       default-1  default-2  default-3  default-4  default-5
CDK4    0.372840   0.114200   4.240885  -0.981457   0.933286
LMTK3   0.122854   0.650017  -0.240496   1.149619   0.355815
LRRK2   0.265920  -0.484974  -0.517105   0.810660  -0.680761
UHMK1   0.489737  -0.036591  -0.166288   0.399448   1.537664
EGFR    0.324206   0.268258   3.557296  -0.012362   0.781819

# Start with Downsampled Data

In [20]:
net.load_df(df['ds'], meta_col=df['meta_col'], 
            is_downsampled=True, meta_ds_col=df['meta_ds_col'], 
            col_cats=['Category', 'Gender', 'number in clust'])

net.set_manual_category(col='Category', preferred_cats=df['meta_cat_col'])
net.widget()

ExampleWidget(network='{"row_nodes": [{"name": "CDK4", "ini": 38, "clust": 24, "rank": 31, "rankvar": 33}, {"n…

In [21]:
net.get_manual_category()

In [22]:
df['meta_ds_col']

               Gender      Category number in clust
default-1  New Gender         Shark              15
default-2        Male  New Category              11
default-3      Female  New Category               1
default-4        Male  New Category               1
default-5      Female         Snake               1

In [23]:
df['meta_col']

              Category      Gender DS-Clusters
H1650     New Category        Male   default-2
H23              Shark  New Gender   default-1
CAL-12T   New Category        Male   default-2
H358      New Category        Male   default-2
H1975            Snake      Female   default-5
HCC15            Shark  New Gender   default-1
H1355            Shark  New Gender   default-1
HCC827    New Category      Female   default-3
H2405     New Category        Male   default-2
HCC78     New Category        Male   default-4
H1666            Shark  New Gender   default-1
H661      New Category        Male   default-2
H838             Shark  New Gender   default-1
H1703            Shark  New Gender   default-1
CALU-3    New Category        Male   default-2
H2342            Shark  New Gender   default-1
H2228     New Category        Male   default-2
H1299            Shark  New Gender   default-1
H1792            Shark  New Gender   default-1
H460             Shark  New Gender   default-1
H2106     New Category        Male   default-2
H441      New Category        Male   default-2
H1944            Shark  New Gender   default-1
H1437            Shark  New Gender   default-1
H1734     New Category        Male   default-2
LOU-NH91         Shark  New Gender   default-1
HCC44            Shark  New Gender   default-1
A549             Shark  New Gender   default-1
H1781     New Category        Male   default-2

### Load Subset of Cells to Relabel

In [24]:
keep_clusters = df['meta_ds_col'][df['meta_ds_col']['Category'] == 'New Category'].index.tolist()
keep_clusters

['default-2', 'default-3', 'default-4']

In [25]:
net.load_df(df['ds'][keep_clusters], meta_col=df['meta_col'],
            is_downsampled=True, meta_ds_col=df['meta_ds_col'], 
            col_cats=['Category', 'Gender', 'number in clust'])

net.set_manual_category(col='Category', preferred_cats=df['meta_cat_col'])
net.widget()

ExampleWidget(network='{"row_nodes": [{"name": "CDK4", "ini": 38, "clust": 34, "rank": 31, "rankvar": 34}, {"n…

In [26]:
net.get_manual_category()

In [27]:
df['meta_ds_col']

               Gender      Category number in clust
default-1  New Gender         Shark              15
default-2        Male           Cat              11
default-3      Female  New Category               1
default-4        Male  New Category               1
default-5      Female         Snake               1

In [28]:
df['meta_col']

              Category      Gender DS-Clusters
H1650              Cat        Male   default-2
H23              Shark  New Gender   default-1
CAL-12T            Cat        Male   default-2
H358               Cat        Male   default-2
H1975            Snake      Female   default-5
HCC15            Shark  New Gender   default-1
H1355            Shark  New Gender   default-1
HCC827    New Category      Female   default-3
H2405              Cat        Male   default-2
HCC78     New Category        Male   default-4
H1666            Shark  New Gender   default-1
H661               Cat        Male   default-2
H838             Shark  New Gender   default-1
H1703            Shark  New Gender   default-1
CALU-3             Cat        Male   default-2
H2342            Shark  New Gender   default-1
H2228              Cat        Male   default-2
H1299            Shark  New Gender   default-1
H1792            Shark  New Gender   default-1
H460             Shark  New Gender   default-1
H2106              Cat        Male   default-2
H441               Cat        Male   default-2
H1944            Shark  New Gender   default-1
H1437            Shark  New Gender   default-1
H1734              Cat        Male   default-2
LOU-NH91         Shark  New Gender   default-1
HCC44            Shark  New Gender   default-1
A549             Shark  New Gender   default-1
H1781              Cat        Male   default-2

In [ ]:
# df['meta_col']['Granular Cell Type'] = df['meta_col']['Category']

In [ ]:
# df['meta_col'].to_csv('meta_col_v2.csv')

In [ ]:
# # net.load_df(df['clean'], meta_col=df['meta_col'], meta_row=df['meta_row'], col_cats=['Gender', 'Category'])
# net.load_df(df['ini'])
# # net.downsample(axis='col', num_samples=5, random_state=99)
# # net.set_manual_category(col='Gender')
# # net.widget()

In [ ]:
# new_tuples = [x for x in cols]
# new_tuples

In [ ]:
# a = widgets.Text()
# display(a)
# mylink = widgets.jslink((a, 'value'), (net.widget_instance, 'value'))

In [ ]:
# net.load_df(df['ini'])
# net.cluster(sim_mat=True)
# net.widget('sim_col')

In [ ]:
# # destroy-viz 
# net.widget_instance.value = 'destroy-viz'

### Random Matrix Example

In [ ]:
# import numpy as np
# import pandas as pd

# # generate random matrix
# num_rows = 100
# num_cols = 100
# np.random.seed(seed=100)
# mat = np.random.rand(num_rows, num_cols)

# # make row and col labels
# rows = range(num_rows)
# cols = range(num_cols)
# rows = [str(i) for i in rows]
# cols = [str(i) for i in cols]

# # make dataframe 
# df['rand'] = pd.DataFrame(data=mat, columns=cols, index=rows)

In [ ]:
# net.load_df(df['rand'])
# net.widget()